@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лабораторные работы по программированию на ASP.NET</h1>
    <h1>Лабараторная работа №2 "Фирма Риелтора"</h1>
    <legend>В соотвествии с вариантом 21 создать Веб-Приложение ASP.NET Core MVC по своей предметной области.</legend>
    <img src="~/img/1.png" class="img-fluid" alt="Responsive image">
    <legend>Обзор сайта:</legend>
    <legend>1.Регистрация и авторизация пользователей</legend>
    <legend>2.Личный Кабинет пользователя</legend>
    <legend>3.Создание Договора Продажи или Сдачи(Обработка форм, Запись в БД)</legend>
    <legend>4.Просмотр Договоров/Объявлений(Чтение из БД)</legend>
    <legend>5.Покупка Объявления(Запись в БД)</legend>
</div>
