@{
    ViewData["Title"] = "MVC";
}

<div class="text-center">
    <h1 class="display-4">Технология MVC</h1>
    <legend>Шаблон «Model-View-Controller» (MVC) - это архитектурный принцип, согласно которому веб-приложение делится на компоненты. Такое разделение облегчает управление отдельными частями приложения, что упрощает их разработку, изменение и тестирование. </legend>
    <img src="~/img/2.png" class="img-fluid" alt="Responsive image">
    <legend>План:</legend>
    <legend>1.Создание представления</legend>
    <legend>2.Проектирование модели данных</legend>
    <legend>3.Добавление класса модели</legend>
    <legend>4.Ссылка на метод действия</legend>
    <legend>5.Создание метода действия (Приветствие)</legend>
    <legend>6.Добавление типизированного представления</legend>
    <legend>7.Построение формы</legend>
    <legend>8.Обработка форм</legend>
    <legend>9.Использование связывания данных модели</legend>
    <legend>10.Обработка других представлений</legend>
    <legend>11.Добавление валидации</legend>
</div>
